/* different types of text */
body {background-color: black;}
h1 {color: white; font-size: xxx-large;}
p {
 color: white;
 background-color: #111111;
 font-size: large;
}

/* general links */
a {
color: blue;
}

a:hover {
 color: cyan;
}

/* navigation bar classes */
.navbar {
 background-color: #222;
 overflow: hidden;
}
.navbar a {
 float: center;
 color: white;
 text-align: center;
 text-decoration: none;
 font-size: 29px;
 background-color: blue;
 background-clip: border-box;
 border-radius: 10px;
font-family: sans-serif
}
.navbar a:hover {
 background-color: #333;
 color: limegreen;
}

/* iframes */
#indexframe {background-color: white;}
