/* different types of text */
body {background-color: black;}
h1 {color: white; font-size: xxx-large;}
p {
 color: white;
 background-color: #111111;
 font-size: large;
}

/* navigation bar classes */
.navbar {
 width: 120%;
 background-color: #222;
 overflow: hidden;
}
.navbar a {
 float: center;
 color: white;
 text-align: center;
 text-decoration: none;
 font-size: 25px;
 background-color: #333;
 background-clip: border-box;
 border-radius: 5px;
 padding-left: 10px;
 padding-right: 10px;
 vertical-align: middle;
 margin-right: 15px;
 font-family: sans-serif
}
.navbar a:hover {
 background-color: #333;
 color: limegreen;
}
.navbar img {
    width: 2%;
    vertical-align: middle;
    margin: 3px;
}

/* iframes */
#indexframe {background-color: white;}
