/* different types of text */
body {background-color: black;}

h1 {
    color: white;
    font-size: xxx-large;
}

p {
 color: white;
 background-color: #151515;
 font-size: large;
}

samp {
    color: white;
    background-color: darkblue;
    display: inline-block;
    border: 1px solid #999;
    padding: 10px;
}

/* navigation bar classes */
.navbar {
 width: 120%;
 background-color: #222;
 overflow: hidden;
}
.navbar a {
 color: white;
 background-color: #333;
 text-decoration: none;
 font-size: 25px;
 border-radius: 5px;
 padding-left: 10px;
 padding-right: 10px;
 margin-right: 15px;
 vertical-align: middle;
 font-family: sans-serif
}
.navbar a:hover {
 background-color: #333;
 color: limegreen;
}
.navbar img {
    width: 2%;
    vertical-align: middle;
    margin: 3px;
}

/* iframes */
#indexframe {background-color: white;}
