<!DOCTYPE html>
<html lang="en">
 <head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../static/css/style.css  ">

  <title>Git Nettside</title>
  <link rel="icon" type="image/x-svg" href="{{ url_for('static', filename='icon.svg') }}">

  <script>
   // function to resize an object to its max size (with no scrolling)
   function resizeIt(obj) {
    obj.style.height = (window.innerHeight-80) + 'px';
    obj.style.width = (window.innerWidth-20) + 'px';
   }

   // handler for window resizes, Laszlo got this from artificial intelligence
   var resizeTimer;

   window.addEventListener('resize', function() {
    clearTimeout(resizeTimer);

    resizeTimer = setTimeout(function() {
     location.reload();
    }, 250);
   });

   function loadPage(page) {
    var indexframe = document.getElementById("indexframe");
    indexframe.src = page;
   }
  </script>

 </head>
 <body>

  <!-- the navigation bar -->
  <div class="navbar">
    <img src="../static/icon.svg" alt="Git Logo">
   <span>
    <a href="#" onclick="loadPage('../static/git.html')">Git</a>
    <a href="#" onclick="loadPage('../static/git.html#gitgud')" class="subLink">git-gud</a>
    <a href="#" onclick="loadPage('../static/git.html#tips')" class="subLink">tips</a>
    <a href="#" onclick="loadPage('../static/git.html#commands')" class="subLink">kommandoer</a>
   </span>
   <a href="#" onclick="loadPage('../static/logg.html')">Logg</a>
   <a target="_blank" href="https://git-scm.com">Git-scm.org</a>
  </div>
  <hr class="solid">

  <!-- this iframe contains the webpage content -->
  <iframe src="../static/git.html" id="indexframe" name="indexframe" frameborder="0" onload="resizeIt(this)"></iframe>

 </body>

</html>
